/* ----- SETUP ----- */
/* ----- Fonts ----- */
@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
/* ----- Mixins ----- */
/* ----- Vars ----- */
/* ----- Defaults ----- */
body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

/* ----- Helpers ----- */
.v-hide {
  display: none;
}

.no-border-bottom {
  border-bottom: none;
}

.rotate-180 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.btn-fwd,
.btn-bck,
.science-title,
.share-icon,
.related-question {
  cursor: pointer;
}

/* ----- END SETUP ----- */
/* ----- Main Content ----- */
.menstrual-cup-search-page {
  background-color: lightslategray;
  /*
        This block is used to add a 3 tier structure to the
        nested HTML content.
        The 'nth-child' sections are not a part of this, but are
        here as it's the best place for them. For now.
    */
}

.menstrual-cup-search-page .cup-search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menstrual-cup-search-page .cup-search-content .side-padding {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  min-height: 1070px;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner {
  position: relative;
  margin: 0 0 50px;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .tr-anim {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one {
  background: #effcfb;
  width: 100%;
  position: absolute;
  left: 0%;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one li:nth-child(2) .d-1-container-inner {
  border-top: none;
  margin-top: 6px;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one li:last-child {
  margin-bottom: 7px;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one .depth-two {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 100%;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one .depth-two li:nth-child(2) .d-2-container-question {
  padding-top: 14px;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one .depth-two li:nth-last-child(2) .d-2-container-question {
  padding-bottom: 14px;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one .depth-two li:nth-last-child(2) .d-2-container-question .question-container {
  border: none;
}

.menstrual-cup-search-page .cup-search-content .cup-search-content-outer .cup-search-content-inner .depth-one .depth-two .depth-three {
  background: #ffffff;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 100%;
}

.menstrual-cup-search-page .d-1-container {
  padding: 0 28px;
}

.menstrual-cup-search-page .d-1-container .d-1-container-inner {
  border-top: 1px solid #29a69c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #effcfb;
  padding: 10px 0 20px;
}

.menstrual-cup-search-page .d-1-container .d-1-container-inner .d-1-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menstrual-cup-search-page .d-1-container .d-1-container-inner .d-1-text-wrapper h2 {
  color: #09645d;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 42px;
  margin: 0 0 -4px;
}

.menstrual-cup-search-page .d-1-container .d-1-container-inner .d-1-text-wrapper p {
  color: #5e5967;
  font-family: "Muli", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
}

.menstrual-cup-search-page .d-1-container .d-1-container-inner .d-1-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-right: -12px;
}

.menstrual-cup-search-page .d-1-container .d-1-container-inner .d-1-icon-wrapper img {
  height: 32px;
  padding-left: 70px;
}

.menstrual-cup-search-page .d-1-section-title .title-img-container img {
  display: block;
}

.menstrual-cup-search-page .d-1-section-title .title-text-container {
  padding: 22px 28px;
  background-color: #29a69c;
}

.menstrual-cup-search-page .d-1-section-title .title-text-container h2 {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  margin: 0;
}

.menstrual-cup-search-page .d-1-section-title .title-text-container p {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

.menstrual-cup-search-page .d-2-container-header {
  background-color: #29a69c;
  padding: 14px 28px 18px;
}

.menstrual-cup-search-page .d-2-container-header .d-2-container-inner .back-wrapper {
  padding-bottom: 6px;
  border-bottom: 1px solid #ffffff;
}

.menstrual-cup-search-page .d-2-container-header .d-2-container-inner .back-wrapper i {
  font-size: 20px;
  color: #ffffff;
  vertical-align: middle;
  padding-right: 12px;
}

.menstrual-cup-search-page .d-2-container-header .d-2-container-inner .back-wrapper span {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.menstrual-cup-search-page .d-2-container-header .d-2-container-inner h4 {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 16px 0 0;
}

.menstrual-cup-search-page .d-2-container-header .d-2-container-inner p {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 10px 0 0;
}

.menstrual-cup-search-page .d-2-container-question {
  background-color: #effcfb;
  padding: 0 28px;
}

.menstrual-cup-search-page .d-3-container-back {
  background-color: #effcfb;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  padding: 12px 30px 20px;
  border-top: 1px solid #29a69c;
}

.menstrual-cup-search-page .d-3-container-back .back-sub-header {
  border-bottom: 1px solid #29a69c;
  padding-bottom: 9px;
}

.menstrual-cup-search-page .d-3-container-back .back-sub-header i {
  color: #237972;
  font-size: 16px;
}

.menstrual-cup-search-page .d-3-container-back .back-sub-header span {
  color: #237972;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
}

.menstrual-cup-search-page .d-3-container-back h4 {
  color: #000000;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 26px 0 10px;
}

.menstrual-cup-search-page .answer-container {
  padding: 0 40px;
  /* VIDEO CONTAINER STYLE STRUCTURE
        .video-container {
            padding: 24px 0 27px;

            .video-content {
                video {
					display:block;
					margin:auto;
                    width: 100%;

                    @media screen and (min-width: 600px) {
                        width: 50%;
                    }
                }
            }

            .transcript-outer {
                .transcript-title-wrapper {
					@include flexbox;
					
                    h6 {
                        color: #5e5967;
                        font-family: $karla;
                        font-size: 17px;
                        font-style: italic;
                        font-weight: bold;
						line-height: 24px;
						margin: 20px 0 10px;
                    }

                    img {
                    }
                }

                .transcript-content-wrapper {
                    p {
                        color: #5e5967;
                        font-family: $karla;
                        font-size: 17px;
                        font-style: italic;
                        font-weight: bold;
                        line-height: 24px;
                    }
                }
            }
        } */
}

.menstrual-cup-search-page .answer-container .diagram-container {
  padding: 24px 0 27px;
}

.menstrual-cup-search-page .answer-container .diagram-container img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .diagram-container img {
    width: 90%;
    margin: auto;
  }
}

.menstrual-cup-search-page .answer-container .text-container p {
  color: #5e5967;
  font-family: "Karla", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 24px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .text-container p {
    font-size: 18px;
    line-height: 26px;
  }
}

.menstrual-cup-search-page .answer-container .text-container ul {
  list-style-type: square;
  -webkit-padding-start: 18px;
          padding-inline-start: 18px;
  margin: 0 0 24px;
}

.menstrual-cup-search-page .answer-container .text-container ul li {
  display: list-item;
  color: #5e5967;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  margin: 0 0 8px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .text-container ul li {
    font-size: 16px;
    line-height: 20px;
  }
}

.menstrual-cup-search-page .answer-container .text-container a {
  color: #29a69c;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menstrual-cup-search-page .answer-container .text-container a:hover {
  opacity: 0.7;
}

.menstrual-cup-search-page .answer-container .text-container:first-child {
  margin-top: 24px;
}

.menstrual-cup-search-page .answer-container .science-container {
  border: 1px solid #29a69c;
  border-radius: 10px;
  margin-bottom: 30px;
}

.menstrual-cup-search-page .answer-container .science-container .science-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 16px 7px 10px;
}

.menstrual-cup-search-page .answer-container .science-container .science-title .science-title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menstrual-cup-search-page .answer-container .science-container .science-title .science-title-text svg {
  fill: #fa9100;
  height: 26px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .science-container .science-title .science-title-text svg {
    height: 28px;
  }
}

.menstrual-cup-search-page .answer-container .science-container .science-title .science-title-text span {
  color: #4f387d;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 6px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .science-container .science-title .science-title-text span {
    font-size: 18px;
    line-height: 32px;
  }
}

.menstrual-cup-search-page .answer-container .science-container .science-title .science-title-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fa9100;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .science-container .science-title .science-title-arrow {
    font-size: 20px;
  }
}

.menstrual-cup-search-page .answer-container .science-container .science-title .science-title-arrow .icon-anim {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menstrual-cup-search-page .answer-container .science-container .science-content {
  padding: 0 16px;
}

.menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner {
  padding: 0 0 20px;
  border-top: 1px solid #29a69c;
}

.menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner h5 {
  color: #4f387d;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0 0;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner h5 {
    font-size: 20px;
    line-height: 32px;
    margin: 22px 0 0;
  }
}

.menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner h5 span {
  font-weight: 400;
}

.menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner p {
  color: #000000;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 16px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner p {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px;
  }
}

.menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner .science-img-container img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .science-container .science-content .science-content-inner .science-img-container img {
    width: 90%;
    margin: 0 auto 10px;
  }
}

.menstrual-cup-search-page .answer-container .share-container {
  padding-top: 12px;
}

.menstrual-cup-search-page .answer-container .share-container .share-container-inner {
  border-top: 1px solid #29a69c;
}

.menstrual-cup-search-page .answer-container .share-container .share-container-inner h6 {
  color: #4f387d;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding: 17px 0 12px;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .share-container .share-container-inner h6 {
    font-size: 22px;
    line-height: 34px;
    padding: 28px 0 22px;
  }
}

.menstrual-cup-search-page .answer-container .share-container .share-container-inner .share-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 34px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .share-container .share-container-inner .share-icons-container {
    width: 75%;
    margin: 0 auto 38px;
  }
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .answer-container .share-container .share-container-inner .share-icons-container .share-icon img {
    width: 60px;
  }
}

.menstrual-cup-search-page .related-questions-container {
  background-color: #effcfb;
  padding: 34px 28px 64px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .related-questions-container {
    padding-top: 38px;
  }
}

.menstrual-cup-search-page .related-questions-container h6 {
  color: #09645d;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin: 0 0 22px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .related-questions-container h6 {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
  }
}

.menstrual-cup-search-page .related-questions-container .related-question:nth-child(2) {
  border-top: 1px solid #00a2b0;
}

.menstrual-cup-search-page .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #00a2b0;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .question-container {
    min-height: 75px;
  }
}

.menstrual-cup-search-page .question-container .question-text {
  margin: auto 0;
}

.menstrual-cup-search-page .question-container .question-text p {
  color: #09645d;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin: 14px 0 13px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .question-container .question-text p {
    font-size: 18px;
    line-height: 24px;
  }
}

.menstrual-cup-search-page .question-container .question-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.menstrual-cup-search-page .question-container .question-icons .icon-media-type {
  width: 41px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .question-container .question-icons .icon-media-type {
    width: 51px;
  }
}

.menstrual-cup-search-page .question-container .question-icons .icon-media-type img {
  display: block;
  height: 24px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .question-container .question-icons .icon-media-type img {
    height: 30px;
  }
}

.menstrual-cup-search-page .question-container .question-icons .icon-arrow img {
  display: block;
  height: 24px;
  margin-right: -6px;
  padding-left: 8px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .question-container .question-icons .icon-arrow img {
    height: 30px;
    padding-left: 10px;
  }
}

.menstrual-cup-search-page .cup-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffcc28;
  padding: 12px 12px 0 34px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .cup-product-container {
    padding: 18px 24px 2px 50px;
  }
}

.menstrual-cup-search-page .cup-product-container .product-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.menstrual-cup-search-page .cup-product-container .product-text-container h5 {
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  margin: 12px 0 10px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .cup-product-container .product-text-container h5 {
    font-size: 32px;
    line-height: 36px;
    margin: 14px 0;
  }
}

.menstrual-cup-search-page .cup-product-container .product-text-container p {
  color: #602b00;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 0 16px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .cup-product-container .product-text-container p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

.menstrual-cup-search-page .cup-product-container .product-text-container .btn-shop-now {
  cursor: pointer;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  max-width: 105px;
  padding: 4px 0 6px;
  -webkit-box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5), 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5), 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .cup-product-container .product-text-container .btn-shop-now {
    max-width: 130px;
    font-size: 24px;
    line-height: 28px;
  }
}

.menstrual-cup-search-page .cup-product-container .product-image-container img {
  width: 160px;
}

@media screen and (min-width: 600px) {
  .menstrual-cup-search-page .cup-product-container .product-image-container img {
    width: 200px;
  }
}
/*# sourceMappingURL=page.css.map */