/* ----- SETUP ----- */

/* ----- Fonts ----- */
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$karla: 'Karla', sans-serif;
$muli: 'Muli', sans-serif;
$barlow: 'Barlow', sans-serif;
$montserrat: 'Montserrat', sans-serif;

/* ----- Mixins ----- */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

/* ----- Vars ----- */
$black: #000000;
$white: #ffffff;
$yellow: #f4c446;
$green: #29a69c;
$purple: #4f387d;

/* ----- Defaults ----- */
body {
    font-family: $karla;
    margin: 0;
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

/* ----- END SETUP ----- */

.menstrual-cup-search-page {
    background-color: lightslategray;

    .cup-search-header {
        background-color: $yellow;
        padding: 40px 0;

        .page-width {
            width: 100%;
            max-width: 1200px;
            padding: 0;

            .cup-search-header-outer {
                text-align: center;
            }
        }
    }

    .cup-search-content {
        @include flexbox;

        .side-padding {
            background-color: lightslategray;
            flex: 1;
        }

        .cup-search-content-outer {
            overflow: hidden;
            flex: 0 1 600px;
            min-height: 2000px;

            .cup-search-content-inner {
                position: relative;
                margin: 0 0 50px;

                .tr-anim {
                    transition: all 0.7s ease 0s;
                }

                .depth-one {
                    cursor: pointer;
                    background: $white;
                    width: 100%;
                    position: absolute;
                    left: 0%;

                    .depth-two {
                        cursor: pointer;
                        background: beige;
                        width: 100%;
                        position: absolute;
                        top: 0%;
                        left: 100%;

                        .depth-three {
                            cursor: pointer;
                            background: $white;
                            width: 100%;

                            position: absolute;
                            top: 0%;
                            left: 100%;
                        }
                    }
                }
            }
        }
    }

    // specific css for item containers
    .d-1-container {
        @include flexbox;

        width: 100%;
        background-color: #e0fdff;
        margin: 10px auto;

        .d-1-text-wrapper {
            @include flexbox;
            flex-direction: column;
            flex: 1 1 auto;

            margin-left: 26px;

            h2 {
                color: #45398e;
                font-family: $barlow;
                font-size: 25px;
                font-weight: 800;
                line-height: 42px;
                margin: 6px 0 8px;
                border-bottom: 1px solid #8ddae0;
            }

            p {
                color: #1c1c1c;
                font-family: $muli;
                font-size: 13px;
                line-height: 15px;
                margin: 0 0 17px;
            }
        }

        .d-1-img-wrapper {
            @include flexbox;
            justify-content: right;
            align-items: center;

            margin: auto 30px;
        }
    }

    .d-2-container-header {
        background-color: #8ddae0;

        .d-2-header-title-container {
            @include flexbox;

            .title-text {
                flex: 1 1 auto;
                padding-left: 25px;

                h2 {
                    color: #45398e;
                    font-family: $barlow;
                    font-size: 37px;
                    font-weight: 800;
                    line-height: 42px;
                    margin: 11px 0 15px;
                }
            }

            .title-back-icon {
                @include flexbox;
                justify-content: center;
                align-items: center;

                font-size: 44px;
                color: $white;
                margin: auto 20px;
            }
        }

        .d-2-header-subtitle-container {
            @include flexbox;

            background-color: #00a2b0;
            color: $white;
            padding: 10px 0;

            .info-icon {
                @include flexbox;
                justify-content: center;
                align-items: center;

                font-size: 26px;
                color: $white;
                margin: auto 13px auto 25px;
            }

            .subtitle-text {
                @include flexbox;
                flex: 1 1 auto;
                align-items: center;

                padding-right: 20px;

                p {
                    font-family: $muli;
                    font-size: 13px;
                    font-style: italic;
                    font-weight: 600;
                    line-height: 13px;
                    margin: 0;
                }
            }
        }
    }

    .d-2-container-question {
        @include flexbox;
        background-color: #e0fdff;
        min-height: 90px;

        border-bottom: 2px solid #00a2b0;

        .question-text {
            @include flexbox;
            align-items: center;
            flex: 1 1 auto;

            padding-left: 32px;

            h4 {
                color: #202020;
                font-family: $muli;
                font-size: 15px;
                font-weight: bold;
                line-height: 22px;
                margin: 0;
                max-width: 240px;
            }
        }

        .question-arrow {
            font-size: 29px;
            color: $black;
            margin: auto 28px auto;
        }
    }

    .d-3-container-back {
        background-color: #effcfb;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 12px 30px 20px;
        border-top: 1px solid #29a69c;

        .back-sub-header {
            border-bottom: 1px solid #29a69c;
            padding-bottom: 9px;

            i {
                color: #237972;
                font-size: 16px;
            }

            span {
                color: #237972;
                font-family: $karla;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                padding-left: 10px;
            }
        }

        h4 {
            color: $black;
            font-family: $karla;
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
            margin: 26px 0 10px;
        }
    }

    .answer-container {
        padding: 0 40px;

        .diagram-container {
            padding: 24px 0 27px;

            img {
                width: 100%;
            }
        }

        .text-container {
            p {
                color: #5e5967;
                font-family: $karla;
                font-size: 17px;
                line-height: 24px;
                margin: 0 0 24px;
            }
        }

        .science-container {
            border: 1px solid #29a69c;
            border-radius: 10px;
            // background-color: #effcfb;
            margin-bottom: 30px;

            .science-title {
                @include flexbox;
                justify-content: space-between;
                padding: 2px 16px 2px 10px;

                .science-title-text {
                    @include flexbox;
                    align-items: center;
                    svg {
                        fill: #fa9100;
                        height: 24px;
                    }

                    span {
                        color: #4f387d;
                        font-family: $karla;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 30px;
                        padding-left: 6px;
                    }
                }
                .science-title-arrow {
                    @include flexbox;
                    align-items: center;

                    font-size: 18px;
                    color: #fa9100;

                    .icon-anim {
                        @include transition(all, 0.2s, ease);
                    }
                }
            }

            .science-content {
                padding: 0 16px;

                .science-content-inner {
                    padding: 0 0 20px;
                    border-top: 1px solid #29a69c;

                    h5 {
                        color: #4f387d;
                        font-family: $karla;
                        font-size: 18px;
                        line-height: 30px;
                        margin: 20px 0 0;

                        span {
                            font-weight: 400;
                        }
                    }

                    p {
                        color: $black;
                        font-family: $karla;
                        font-size: 14px;
                        line-height: 18px;
                        margin: 0 0 16px;
                    }

                    .science-img-container {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .share-container {
            padding-top: 12px;

            .share-container-inner {
                border-top: 1px solid #29a69c;

                h6 {
                    color: #4f387d;
                    font-family: $karla;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 30px;
                    text-align: center;
                    padding: 17px 0 12px;
                    margin: 0;
                }

                .share-icons-container {
                    @include flexbox;
                    justify-content: space-around;
                    margin-bottom: 34px;
                }
            }
        }
    }

    .related-questions-container {
        background-color: #effcfb;
        padding: 34px 28px 64px;

        h6 {
            color: #09645d;
            font-family: $karla;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin: 0 0 22px;
        }

        .related-question {
            &:nth-child(2) {
                border-top: 1px solid #00a2b0;
            }

            .question-container {
                @include flexbox;
                justify-content: space-between;

                border-bottom: 1px solid #00a2b0;

                .question-text {
                    p {
                        color: #09645d;
                        font-family: $karla;
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 20px;
                        width: 230px;
                        margin: 14px 0 13px;
                    }
                }

                .question-icons {
                    @include flexbox;
                    justify-content: right;
                    align-items: center;

                    .icon-media-type {
                        width: 41px;

                        img {
                            display: block;
                            height: 24px;
                            margin: auto;
                        }
                    }

                    .icon-arrow {
                        img {
                            display: block;
                            height: 24px;
                            margin-right: -6px;
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .cup-product-container {
        @include flexbox;
        justify-content: space-around;
        // align-items: center;

        background-color: #ffcc28;
        padding: 10px 12px 0 34px;

        .product-text-container {
            @include flexbox;
            flex-direction: column;
            justify-content: left;

            h5 {
                color: $white;
                font-family: $barlow;
                font-size: 26px;
                font-weight: 800;
                line-height: 26px;
                margin: 10px 0 10px;
            }

            p {
                color: #602b00;
                font-family: $montserrat;
                font-size: 15px;
                font-weight: 600;
                line-height: 18px;
                margin: 0 0 16px;
            }

            .btn-shop-now {

                cursor: pointer;
                color: #ffffff;
                font-family: $barlow;
                font-size: 19px;
                font-weight: bold;
                line-height: 24px;
                text-align: center;
                border-radius:5px;
                max-width:105px;
                padding: 4px 0 6px;
                box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
                    2px 2px 4px 0 rgba(0, 0, 0, 0.3);
            }
        }

        .product-image-container {
            img {
                width: 160px;
            }
        }
    }
}

.v-hide {
    display: none;
}

.no-border-bottom {
    border-bottom: none;
}

.rotate-180 {
    @include transform(rotate(-180deg));
}
