/* ----- SETUP ----- */

/* ----- Fonts ----- */
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$karla: 'Karla', sans-serif;
$muli: 'Muli', sans-serif;
$barlow: 'Barlow', sans-serif;
$montserrat: 'Montserrat', sans-serif;

/* ----- Mixins ----- */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

/* ----- Vars ----- */
$black: #000000;
$white: #ffffff;
$yellow: #f4c446;
$green: #29a69c;
$purple: #4f387d;

/* ----- Defaults ----- */
body {
    font-family: $karla;
    margin: 0;
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

/* ----- Helpers ----- */
.v-hide {
    display: none;
}

.no-border-bottom {
    border-bottom: none;
}

.rotate-180 {
    @include transform(rotate(-180deg));
}

.btn-fwd,
.btn-bck,
.science-title,
.share-icon,
.related-question {
    cursor: pointer;
}

/* ----- END SETUP ----- */


/* ----- Main Content ----- */
.menstrual-cup-search-page {
    background-color: lightslategray;


    // PAGE STRUCTURE
    /*
        This block is used to add a 3 tier structure to the
        nested HTML content.
        The 'nth-child' sections are not a part of this, but are
        here as it's the best place for them. For now.
    */
    .cup-search-content {
        @include flexbox;

        .side-padding {
            flex: 1;
        }

        .cup-search-content-outer {
            overflow: hidden;
            flex: 0 1 600px;
            min-height: 2500px;

            .cup-search-content-inner {
                position: relative;
                margin: 0 0 50px;

                .tr-anim {
                    transition: all 0.7s ease 0s;
                }

                .depth-one {
                    background: #effcfb;
                    width: 100%;
                    position: absolute;
                    left: 0%;

                    li:nth-child(2) {
                        .d-1-container-inner {
                            border-top: none;
                            margin-top: 6px;
                        }
                    }

                    li:last-child {
                        margin-bottom: 7px;
                    }

                    .depth-two {
                        width: 100%;
                        position: absolute;
                        top: 0%;
                        left: 100%;

                        li:nth-child(2) {
                            .d-2-container-question {
                                padding-top:14px;
                            }
                        }

                        li:nth-last-child(2) {
                            .d-2-container-question {
                                padding-bottom:14px;

                                .question-container {
                                    border:none;
                                }
                            }
                        }

                        .depth-three {
                            background: $white;
                            width: 100%;

                            position: absolute;
                            top: 0%;
                            left: 100%;
                        }
                    }
                }
            }
        }
    }

    // Individual container style blocks
    .d-1-container {
        padding: 0 28px;

        .d-1-container-inner {
            border-top: 1px solid #29a69c;

            @include flexbox;
            width: 100%;
            background-color: #effcfb;
            padding: 10px 0 20px;

            .d-1-text-wrapper {
                @include flexbox;
                flex-direction: column;
                flex: 1 1 auto;

                h2 {
                    color: #09645d;
                    font-family: $barlow;
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 42px;
                    margin: 0 0 -4px;
                }

                p {
                    color: #5e5967;
                    font-family: $muli;
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 18px;
                    margin: 0;
                }
            }

            .d-1-icon-wrapper {
                @include flexbox;
                justify-content: right;
                align-items: center;
                margin: auto;
                margin-right: -12px;

                img {
                    height: 32px;
                    padding-left: 20px;
                }
            }
        }
    }

    .d-1-section-title {
        .title-img-container {
            img {
                display: block;
            }
        }
        .title-text-container {
            padding: 22px 28px;
            background-color: #29a69c;

            h2 {
                color: $white;
                font-family: $barlow;
                font-size: 28px;
                font-weight: 800;
                line-height: 42px;
                margin: 0;
            }

            p {
                color: $white;
                font-family: $karla;
                font-size: 13px;
                line-height: 18px;
                font-weight: normal;
                margin: 0;
            }
        }
    }

    .d-2-container-header {
        background-color: #29a69c;
        padding: 14px 28px 18px;
        

        .d-2-container-inner {
            .back-wrapper {
                padding-bottom: 6px;
                border-bottom: 1px solid $white;

                i {
                    font-size: 20px;
                    color: $white;
                    vertical-align: middle;
                    padding-right: 12px;
                }

                span {
                    color: $white;
                    font-family: $karla;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 24px;
                }
            }

            h4 {
                color: $white;
                font-family: $barlow;
                font-size: 24px;
                font-weight: bold;
                line-height: 24px;
                margin: 16px 0 0;
            }

            p {
                color: $white;
                font-family: $karla;
                font-size: 13px;
                font-weight: normal;
                line-height: 18px;
                margin: 10px 0 0;
            }
        }
    }

    .d-2-container-question {
        background-color: #EFFCFB;
        padding:0 28px;
    }

    .d-3-container-back {
        background-color: #effcfb;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 12px 30px 20px;
        border-top: 1px solid #29a69c;

        .back-sub-header {
            border-bottom: 1px solid #29a69c;
            padding-bottom: 9px;

            i {
                color: #237972;
                font-size: 16px;
            }

            span {
                color: #237972;
                font-family: $karla;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                padding-left: 10px;
            }
        }

        h4 {
            color: $black;
            font-family: $karla;
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
            margin: 26px 0 10px;
        }
    }

    .answer-container {
        padding: 0 40px;

        .diagram-container {
            padding: 24px 0 27px;

            img {
                display: block;
                width: 100%;

                @media screen and (min-width: 600px) {
                    width: 90%;
                    margin: auto;
                }
            }
        }

        .text-container {
            p {
                color: #5e5967;
                font-family: $karla;
                font-size: 17px;
                line-height: 24px;
                font-weight: normal;
                margin: 0 0 24px;

                @media screen and (min-width: 600px) {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }

        .science-container {
            border: 1px solid #29a69c;
            border-radius: 10px;
            // background-color: #effcfb;
            margin-bottom: 30px;

            .science-title {
                @include flexbox;
                justify-content: space-between;
                padding: 7px 16px 7px 10px;

                .science-title-text {
                    @include flexbox;
                    align-items: center;
                    svg {
                        fill: #fa9100;
                        height: 26px;
                        @media screen and (min-width: 600px) {
                            height: 28px;
                        }
                    }

                    span {
                        color: #4f387d;
                        font-family: $karla;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 30px;
                        padding-left: 6px;

                        @media screen and (min-width: 600px) {
                            font-size: 18px;
                            line-height: 32px;
                        }
                    }
                }
                .science-title-arrow {
                    @include flexbox;
                    align-items: center;

                    font-size: 18px;
                    color: #fa9100;

                    @media screen and (min-width: 600px) {
                        font-size: 20px;
                    }

                    .icon-anim {
                        @include transition(all, 0.2s, ease);
                    }
                }
            }

            .science-content {
                padding: 0 16px;

                .science-content-inner {
                    padding: 0 0 20px;
                    border-top: 1px solid #29a69c;

                    h5 {
                        color: #4f387d;
                        font-family: $karla;
                        font-size: 18px;
                        line-height: 30px;
                        margin: 20px 0 0;

                        @media screen and (min-width: 600px) {
                            font-size: 20px;
                            line-height: 32px;
                            margin: 22px 0 0;
                        }

                        span {
                            font-weight: 400;
                        }
                    }

                    p {
                        color: $black;
                        font-family: $karla;
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0 0 16px;

                        @media screen and (min-width: 600px) {
                            font-size: 18px;
                            line-height: 22px;
                            margin: 0 0 20px;
                        }
                    }

                    .science-img-container {
                        img {
                            display: block;
                            width: 100%;

                            @media screen and (min-width: 600px) {
                                width: 90%;
                                margin: 0 auto 10px;
                            }
                        }
                    }
                }
            }
        }

        .share-container {
            padding-top: 12px;

            .share-container-inner {
                border-top: 1px solid #29a69c;

                h6 {
                    color: #4f387d;
                    font-family: $karla;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 30px;
                    text-align: center;
                    padding: 17px 0 12px;
                    margin: 0;

                    @media screen and (min-width: 600px) {
                        font-size: 22px;
                        line-height: 34px;
                        padding: 28px 0 22px;
                    }
                }

                .share-icons-container {
                    @include flexbox;
                    justify-content: space-around;
                    margin-bottom: 34px;

                    @media screen and (min-width: 600px) {
                        width: 75%;
                        margin: 0 auto 38px;
                    }

                    .share-icon img {
                        @media screen and (min-width: 600px) {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }

    .related-questions-container {
        background-color: #effcfb;
        padding: 34px 28px 64px;

        @media screen and (min-width: 600px) {
            padding-top: 38px;
        }

        h6 {
            color: #09645d;
            font-family: $karla;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            margin: 0 0 22px;

            @media screen and (min-width: 600px) {
                font-size: 22px;
                line-height: 34px;
                margin-bottom: 26px;
            }
        }

        .related-question {
            &:nth-child(2) {
                border-top: 1px solid #00a2b0;
            }
        }
    }

    .question-container {
        @include flexbox;
        justify-content: space-between;

        @media screen and (min-width: 600px) {
            min-height: 75px;
        }

        border-bottom: 1px solid #00a2b0;

        .question-text {
            margin: auto 0;

            p {
                color: #09645d;
                font-family: $karla;
                font-size: 15px;
                font-weight: bold;
                line-height: 20px;
                margin: 14px 0 13px;

                @media screen and (min-width: 600px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }

        .question-icons {
            @include flexbox;
            justify-content: right;
            align-items: center;
            padding-left: 20px;

            .icon-media-type {
                width: 41px;

                @media screen and (min-width: 600px) {
                    width: 51px;
                }

                img {
                    display: block;
                    height: 24px;
                    margin: auto;

                    @media screen and (min-width: 600px) {
                        height: 30px;
                    }
                }
            }

            .icon-arrow {
                img {
                    display: block;
                    height: 24px;
                    margin-right: -6px;
                    padding-left: 8px;

                    @media screen and (min-width: 600px) {
                        height: 30px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .cup-product-container {
        @include flexbox;
        justify-content: space-around;

        background-color: #ffcc28;
        padding: 12px 12px 0 34px;

        @media screen and (min-width: 600px) {
            padding: 18px 24px 2px 50px;
        }

        .product-text-container {
            @include flexbox;
            flex-direction: column;
            justify-content: left;

            h5 {
                color: $white;
                font-family: $barlow;
                font-size: 26px;
                font-weight: 800;
                line-height: 26px;
                margin: 12px 0 10px;

                @media screen and (min-width: 600px) {
                    font-size: 32px;
                    line-height: 36px;
                    margin: 14px 0;
                }
            }

            p {
                color: #602b00;
                font-family: $montserrat;
                font-size: 15px;
                font-weight: 600;
                line-height: 18px;
                margin: 0 0 16px;

                @media screen and (min-width: 600px) {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 20px;
                }
            }

            .btn-shop-now {
                cursor: pointer;
                color: #ffffff;
                font-family: $barlow;
                font-size: 19px;
                font-weight: bold;
                line-height: 24px;
                text-align: center;
                border-radius: 5px;
                max-width: 105px;
                padding: 4px 0 6px;
                box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
                    2px 2px 4px 0 rgba(0, 0, 0, 0.3);

                @media screen and (min-width: 600px) {
                    max-width: 130px;
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }

        .product-image-container {
            img {
                width: 160px;

                @media screen and (min-width: 600px) {
                    width: 200px;
                }
            }
        }
    }
}
